site_name: Docs
site_url: https://docs.ozone-his.com
repo_url: https://github.com/ozone-his/ozone-distro
repo_name: ozone-his/ozone
nav:
  - System Implementers:
    - Quick Start: 'foo.md'
    - Create Your Own Distribution: 'create-distro.md'
    - Customizing Ozone HIS: 'customize-ozone.md'
    - Enabling & Disabling HIS Components: 'enabling-components.md'
    - "<span style='color:#b0b0b0;font-style:italic'>Configuring HIS Components</span>": 'configuring-components.md'
    - "<span style='color:#b0b0b0;font-style:italic'>EIP Configuration Points</span>": 'eip-config-points.md'
  - Functional Users:
    - Overview: 'users/index.md'
    - "<span style='color:#b0b0b0;font-style:italic'>SSO & Auth</span>": 'users/auth.md'
    - Ozone Flows Guide: 'users/ozoneflows.md'
    - ERPNext–OpenMRS Flows: 'users/erpnext-openmrs.md'
    - Keycloak-Odoo Flows: 'users/keycloak-odoo.md'
    - Keycloak-OpenMRS Flows: 'users/keycloak-openmrs.md'
    - Keycloak-Superset Flows: 'users/keycloak-superset.md'
    - Odoo–OpenMRS Flows: 'users/odoo-openmrs.md'
    - OpenMRS-SENAITE Flows: 'users/openmrs-senaite.md'
    - "<span style='color:#b0b0b0;font-style:italic'>Ozone Analytics</span>": 'users/analytics.md'
  - Software Developers:
    - Architecture Overview: 'devs/index.md'
    - "<span style='color:#b0b0b0;font-style:italic'>Camel Components</span>": 'devs/camel-components.md'
    - EIP Client: 'devs/eip-client.md'
    - "<span style='color:#b0b0b0;font-style:italic'>Conventions</span>": 'devs/conventions.md'
    - Automated E2E Tests: 'devs/e2e-tests.md'
theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.tabs
    - navigation.footer
    - navigation.sections
    - content.code.copy
  font:
    text: Poppins
  palette:
    primary: custom
  logo: assets/logo.png
  favicon: assets/images/favicon.png
extra:
  homepage: https://www.ozone-his.com
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ozone-his
    - icon: fontawesome/brands/discourse
      link: https://talk.openmrs.org/c/software/ozone-his/70
    - icon: fontawesome/brands/slack
      link: https://openmrs.slack.com/archives/C02PYQD5D0A
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/mekom-solutions
  analytics:
    provider: google
    property: G-VW3Z3FMSMP
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.details
  - md_in_html
  - footnotes
  - pymdownx.critic
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
plugins:
  - search
  - macros
  - gen-files:
      scripts:
        - gen_pages.py
