site_name: Docs
repo_url: https://github.com/ozone-his/ozone-distro
repo_name: ozone-his/ozone
nav:
  - Implementers:
    - Quick Start: 'index.md'
    - Implementer Guide: 'impl-guide.md'
  - Users:
    - Overview: 'users/overview.md'
    - Single Sign-on: 'users/sso.md'
    - Data Flows Guide: 'users/dataflows.md'
    - EMR-ERP Flows: 'users/emr-erp.md'
    - EMR-LIMS Flows: 'users/emr-lims.md'
    - IdP Flows: 'users/all-idp.md'
    - Ozone Analytics: 'users/analytics.md'
  - Developers:
    - Architecture Overview: 'devs/index.md'
    - Default Architecture: 'devs/default-archi.md'
    - EIP Client: 'devs/eip-client.md'
theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.tabs
    - navigation.footer
    - navigation.sections
    - content.code.copy
  font:
    text: Poppins
  palette:
    primary: custom
  logo: assets/logo.png
  favicon: assets/images/favicon.png
extra:
  homepage: https://www.ozone-his.com
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ozone-his
    - icon: fontawesome/brands/discourse
      link: https://talk.openmrs.org/c/software/ozone-his/70
    - icon: fontawesome/brands/slack
      link: https://openmrs.slack.com/archives/C02PYQD5D0A
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/mekom-solutions
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/mekomsolutions
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/mekomsolutions/
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.details
  - md_in_html
  - footnotes
  - pymdownx.critic
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
